@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Simbora</title>

    <link rel="stylesheet" href="/css/PaginaInicial.css" />
</head>

<div class="center">
    <h1>SIMBORA</h1>
    <form>
        <div class="btns" id="iniciar">
            <button class="btn" asp-controller="Usuarios" asp-action="Create">Iniciar</button>
        </div>
        <div class="btns" id="sugestoes">
            <button class="btn" asp-controller="Sugestoes" asp-action="Create">Sugestões</button>
        </div>
    </form>


</div>