body {
    margin: 0;
    padding: 0;
    background: url(img.jpeg);
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginbox {
    width: 320px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
   
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}



.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #FF7575;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 245px;
}

        .loginbox input[type="submit"]:hover {
            cursor: pointer;
            background: #C68585;
            color: #000;
        }

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    background-color: black;
}

    .loginbox a:hover {
        color: #C68585;
    }


a.btn {
    border: none;
    outline: none;
    height: 40px;
    background: #FF7575;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
    width: 245px;
}